gwt-unitCache
.gwt
war/WEB-INF/classes
war/WEB-INF/deploy
war/join
buildOnly
classes
bin
build

\#*
*.gz
*.log
*.out
*~

compiled/
*.class

# patch attempts
*.orig
*.rej

#ignore config files from eclipse, we don't want IDE files in our repository
#.project
#.buildpath
#.externalToolBuilders
#.settings

#ignore OSX .DS_Store files 
.DS_Store

#netbeans project folder
nbproject

